.pkmn-header {
  height: 80px;
  top: 0px;
  left: 0px;
  position: fixed;
  width: 100%;
  z-index: 100;

  background: var(--white);

  /** TABLET */
  @media (min-width: 768px) and (max-width: 1439px) {
    height: 64px;

    border-bottom: 1px solid var(--dark-grey);
  }

  /** MOBILE */
  @media (max-width: 767px) {
    height: 56px;
  }

  &__burger-menu {
    img {
      width: 24px;
      aspect-ratio: 1;
    }
  }

  &__wrapper {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100%;
    width: 100%;

    padding-left: 80px;
    padding-right: 80px;

    max-width: var(--page-container-max-content-width);
    margin: 0 auto;

    z-index: 10;

    /** TABLET */
    @media (min-width: 768px) and (max-width: 1439px) {
      padding-left: 64px;
      padding-right: 64px;
    }

    /** MOBILE */
    @media (max-width: 767px) {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  &--logo {
    height: 42px;
    width: auto;

    user-select: none;

    /** TABLET */
    @media (min-width: 768px) and (max-width: 1439px) {
      height: 36px;
    }

    /** MOBILE */
    @media (max-width: 767px) {
      height: 32px;
    }
  }

  &__nav-container {
    display: inline-flex;
    align-items: center;
  }

  &__nav-link {
    display: inline-flex;
    align-items: center;

    color: var(--pkmn-text-color);
    user-select: none;

    &:hover svg path,
    &:hover {
      color: var(--pkmn-primary-color);
      fill: var(--pkmn-primary-color);
    }

    &:not(:last-child) {
      margin-right: 27px;
    }

    &--text {
      font-size: var(--pkmn-small-text-font-size);
      line-height: var(--pkmn-small-text-line-height);
    }

    &--icon {
      display: block;
      height: 24px;
      width: 24px;
      fill: inherit;
    }
  }
}
